.hero {
    margin-top: 15%;
}

.scenario {
    background: ghostwhite;
    padding: 2px 10px;
}

img {
    max-width: 100%;
}

p {
    text-align: justify;
}

ol, ul {
    margin-left: 5%;
}

#mapid {
    height: 400px;
}
